:root {
  --light-grey: #E0E0E0;
  --lighter-grey: #E8E8E8;
}

.main-header {
  /* position: fixed; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1% 2% 0 2%;
  background-color: var(--lighter-grey);
  border-bottom: 1px black solid;
}

/* h3 will be used for the top header navbar */
h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 10%;
}

nav ul a, nav ul a:visited {
  color: black;
  text-decoration: none;
}

nav ul a:hover {
  cursor: pointer;
}

hr {
  margin: 0;
}

body {
  background-color: var(--light-grey);
}

.body {
  padding: 3% 5%;
}

.login-register {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 3%;
}

.form-control {
  border: 1px black solid;
}

.invalid {
  color: red;
}

/* HOME */
/* *************************** */

#lp-body {
  background-color: white;
  padding: 5% 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 340px;
}

#lp-header {
  float: left;
  margin-left: 2%;
}

#lp-h1 {
  font-size: 5em;
}

.lp-h2 {
  font-size: 3.5em;
}

#img-div {
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
}

#keezer1 {
  width: 90%;
}

/* CUSTOMIZE */
/* *************************** */

.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
  height: 250px;
}

input[type=radio] {
  border: 0px;
  width: 100%;
  height: 2em;
}

.cart-button {
  margin-left: 3%;
}

/* CART */
/* *************************** */

.cart-title {
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
}

.cart-display {
  width: 80%;
  margin: auto;
}

.cart-item {
  background-color: white;
  padding: 2%;
  margin-bottom: 1%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-image {
  width: 10%;
  height: 100%;
}

.delete-button {
  height: 100%;
}

.deleted {
  display: none;
}

/* ACCOUNT DETAILS */
/* *************************** */

#ad-body {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3%;
}

#submit-address {
  margin-right: 1%;
}

/* CHECKOUT */
/* *************************** */

#checkout-body {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3%;
}